.canvas.medium-12.large-12.columns
  - if @secretories.any?
    - @secretories.each do |secretory|
      .contact.form.medium-4.medium-offset-2.large-4.large-offset-2.columns
        %img.large-3.columns{src: secretory.img_src}
        .large-9.form.columns  
          %p
            = secretory.name
            %br= secretory.designation
            = secretory.email
            %br= secretory.mob_no
