.canvas.medium-12.large-12.columns
  - if @secretories.any?
    - @secretories.each do |secretory|
      .medium-3.medium-offset-1.large-3.large-offset-1.columns
        %img{src: secretory.img_src}
        %h3= secretory.designation
        %h4= secretory.name
        %h4= secretory.email
        %h4= secretory.mob_no
