.canvas.large-12.columns
  .medium-8.large-7.large-offset-1.columns
    %ul.my-orbit{"data-orbit" => ""}
      %li{"data-orbit-slide" => "boys"}
        %div.medium-10.medium-offset-1
          %br
          %h1
            Sports Secretory
          %img{src: "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/s200x200/1209000_508341912593379_838655672_n.jpg"}

          
      %li{"data-orbit-slide" => "girls"}
        %div.medium-10.medium-offset-1
          %br
          %h1
            Sports Secretory
          %img{src: "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/s160x160/1209000_508341912593379_838655672_n.jpg"}
      
      %li{"data-orbit-slide" => "ait"}
        %div.medium-10.medium-offset-1
          %br
          %h1
            Sports Secretory
          %img{src: "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/s200x200/1209000_508341912593379_838655672_n.jpg"}
