.canvas.large-12.columns
  .medium-6.medium-offset-1.large-6.large-offset-1.columns
    %br
    %h1 Welcome to  PACE 2014
    %p
      An annual intercollegiate sports fest organized by Army institute of technology.
      An excellent opportunity for students of various colleges in pune to
      get acquainted with each other, exhibit their competitive spirits and in the true spirit
      of sportsmanship take victory and defeat in their stride.
    %h1
      Let Your Game do the Talking!!!

  .medium-3.medium-offset-1.large-3.large-offset-1.columns
    %br
    %h1 Updates
    %p Site construction on the go!!!
