.canvas.large-12.columns
  .medium-12.large-6.large-offset-2.columns
    %br
    %h1 Welcome to  PACE 2014
    %p
      PACE IS AN ANNUAL INTERCOLLEGIATE SPORTS FEST ORGANIZED BY ARMY INSTITUTE OF TECHNOLOGY.
      THIS EVENT PROVIDES AN EXCELLENT OPPORTUNITY FOR STUDENTS OF VARIOUS COLLEGES IN PUNE TO
      GET ACQUAINTED WITH EACH OTHER, EXHIBIT THEIR COMPETITIVE SPIRITS AND IN THE TRUE SPIRIT
      OF SPORTSMANSHIP TAKE VICTORY AND DEFEAT IN THEIR STRIDE. PACE IS AN IMPORTANT PART OF 
      OUR EXTRACURRICULAR ACTIVITIES IT HELPS IN MOLDING HEALTHY AND VIBRANT YOUNG MEN AND WOMEN
      WITH AN ALL ROUND PERSONALITY.
    %h1
      Let Your Game do the Talking!!!
