.canvas.large-12.columns
  .medium-12.large-6.large-offset-2.columns
    %br
    %h1 Welcome to  PACE 2014
    %p
      Pace is an annual intercollegiate sports fest organized by Army institute of technology.
      This event provides an excellent opportunity for students of various colleges in pune to
      get acquainted with each other, exhibit their competitive spirits and in the true spirit
      of sportsmanship take victory and defeat in their stride. Pace is an important part of our
      extracurricular activities it helps in molding healthy and vibrant young men and women 
      with an all round personality.
    %h1
      Let Your Game do the Talking!!!
