.panel.large-8.large-offset-2.columns{style: "margin-top:3%"}
  %table.large-12.columns
    %th Event Name
    %th Event Head
    %th Action
    - if @events.any?
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.event_head_name
          %td
            = link_to "Edit", edit_event_path(event.id), class: "button tiny"
