ol
  color: white

@keyframes glide_left
  0% 
    left: -1000px
  70%
    left: 50px
  100% 
    left: 0px

@-webkit-keyframes glide_left /* Safari and Chrome */
  0% 
    left: -1000px
  70%
    left: 50px
  100% 
    left: 0px

@keyframes glide_right
  0% 
    right: -1000px
  70%
    right: 50px
  100% 
    right: 0px

@-webkit-keyframes glide_right /* Safari and Chrome */
  0% 
    right: -1000px
  70%
    right: 50px
  100% 
    right: 0px

@mixin animate($name, $time)
  animation: $name $time
  -webkit-animation: $name $time

.glide_left
  @include animate(glide_left,1.5s)
.glide_right
  @include animate(glide_right,1.5s)
