
@mixin header($color,$fsize)
  color: $color
  font-size: $fsize

.canvas
  margin-top: 5%
  min-height: 60%
  background-color: rgba(#008cba, 0.3)
  background-image: url("logo.png") center no-repeat
  h1
    @include header(white,40px)
  p
    text-align: justify
    @include header(white,20px)
