
@mixin header($color,$fsize)
  color: $color
  font-size: $fsize

.canvas
  margin-top: 1%
  min-height: 60%
  height: auto
  background: url("logo.png")  center no-repeat rgba(0,140,186, 0.3)
  h1
    @include header(white,40px)
  p
    text-align: justify
    @include header(white,20px)

.footer
  padding: 1% 0%
  position: fixed
  text-align: center
  @include header(white, 10px)
  bottom: 0px
  width: 100%
  background: rgba(black,0.3)
