
@mixin header($color,$fsize)
  color: $color
  font-size: $fsize

.canvas
  min-height: 60%
  display: none
  background: rgba(#008cba, 0.6)
  h1
    @include header(white,40px)
  p
    text-align: justify
    @include header(white,20px)
