@keyframes drop_animation
  0% 
    top: -1000px
  60%
    top: 50px
  100% 
    top: 0px

@-webkit-keyframes drop_animation /* Safari and Chrome */
  0% 
    top: -1000px
  60%
    top: 50px
  100% 
    top: 0px

@mixin animate($name, $time)
  animation: $name $time
  -webkit-animation: $name $time

.form
  h2
    text-align: center
  h4
    color: red
  @include animate(drop_animation, 1.5s)

.panel 
  margin-top: -30 
